<section id="experience" class="section-container">
  <h2 class="section-title" data-aos="fade-up">Experience</h2>

  <div class="grid md:grid-cols-2 gap-8">
    <div data-aos="fade-up" data-aos-duration="800">
      <h3 class="text-2xl font-semibold mb-4">Experience</h3>
      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">Customer Support Associate </h4>
        <p class="text-slate"><a href="Walmart"></a> • January 2023 -  September 2024
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>Provided excellent customer support, assisting customers with inquiries and resolving complaints efficiently. </li>
          <li>Developed strong communication and problem-solving skills while handling multiple tasks in a fast-paced environment. </li>
        </ul>
      </div>

      <div class="mt-6">
        <a href="/assets/resume.pdf" download="Subhan_Resume.pdf"
          class="px-6 py-3 bg-green-500 text-white font-semibold rounded-lg shadow-md hover:bg-green-600 transition-all duration-300">
          Download Resume
        </a>
      </div>

    </div>
  </div>
</section>